/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #FFFFFF;
}

/* Hero Section */
.clip-path-desktop{
    content: "";
}

@media (min-width: 768px) {
  .clip-path-desktop {
    clip-path: polygon(87% 0, 100% 25%, 100% 100%, 13% 100%, 0 75%, 0 0);
    /* Or different values if you prefer */
  }
}

